* {
  box-shadow: none;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.switch-holder {
  margin-top: 20px;
  width: 280px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 15px 10px 25px 1px rgba(133, 133, 133, 0.75);
}

.switch-label {
  width: 150px;
  margin-left: 15px;
  margin-right: 5px;
}

.switch-label > span {
  margin-left: 5px;
}

.switch-toggle {
  margin-right: 15px;
  height: 40px;
}

.switch-toggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switch-toggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switch-toggle input[type="checkbox"] + label::before {
  position: absolute;
  content: "OFF";
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #d1dad3;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.595),
    3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.switch-toggle input#bluetooth:checked + label::before {
  left: 50%;
  content: "ON";
  color: #fff;
  background-color: #78a586;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #78a586;
}

.switch-toggle input#wifi:checked + label::before {
  left: 50%;
  content: "ON";
  color: #fff;
  background-color: #518664;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #518664;
}

.switch-toggle input#airplane:checked + label::before {
  left: 50%;
  content: "ON";
  color: #fff;
  background-color: #34533f;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #34533f;
}
